* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    overflow: hidden; */
}
.logo {
    margin-left: 6.440vw;
    margin-top: 10.664vw;
}
.center-content {
    background-image: url(./assets/bg-pattern-2.svg);
    background-color: #191826;
    background-repeat: no-repeat;
    overflow: hidden;
}
.footer-text {
    color: #FCFAF9;
}